.product-overlay{
 width: 100%;
 display:flex;
 flex-direction: row;
 flex-wrap: nowrap;
 overflow: hidden;
 justify-content: space-evenly;
}

.left{
 width: 60%;
 display: flex;
 flex-direction: row;
}

.product-option{
 justify-content: space-between;
 display: flex;
 margin:3rem;
 flex-direction: column;
 width: 50%;
 position: relative;
 align-items: flex-start;
 height: 50vh;
}

.selected-product{
 width:40%;
 height: 65vh;
 display: flex;
 position: absolute;
 top: 5.5rem;
 left: 20%;
}

.right {
 margin-top: 3rem;
 padding: 1rem;
 width: 30%;
 display:flex;
 flex-direction: column;
 position: relative;
 right: 6%;
}

.inputs{
 display: flex;
 position: absolute;
 margin-left: -0.5rem;
 top: 1rem;
}

.inputs-Section{
 position: relative;
 display: block;
 height: 4rem;
}

.color-button {
 background-color:  #d3d2d5;
 border: none;
 width: 1.5rem;
 height: 1.5rem;
 margin-left: 0.2rem;
}

.color-button1 {
     background-color:   #2a2a2a;
     border: none;
     width: 1.5rem;
     height: 1.5rem;
     margin-left: 0.2rem;
}
.color-button2 {
     background-color: #0F644F;
     border: none;
     width: 1.5rem;
     height: 1.5rem;
     margin-left: 0.2rem;
}