
.category{
   display: flex;
   width: 100%;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly
}
.product-Card{
   margin: 1rem;
   width: fit-content
}
img{
  max-width: 100%;
}

.product-Card-inner{
   width: 100%;
   background: floralwhite;
   transition: transform .07s ease-in-out;
}

.product-Card:hover .product-Card-inner{
   background: #ffff;
   transform: translate(-5px ,-5px);
   cursor: pointer;
   border:  10px solid white;
   }

.product-Card:hover .product-Card-inner .icon {
   visibility: visible;
}

.product-Name{
   display: flex;
   justify-content: space-between;
   position:relative;
}


.icon{
   border-radius: 50%;
   width: 2.5rem;
   height: 2.5rem;
   position: absolute;
   top: -2rem;
   left:85%;
   display:flex;
   align-items: center;
   justify-content: center;
   visibility: hidden;
   background: #5ece7b
}