.section{
 /* background: yellow; */
 display:flex;
 width: 100%;
justify-content: space-between;
}

.side-A{
 /* background-color: black; */
 width:50%
}

.side-B{
 display: flex;
 align-items: center;
 height: 9rem;
}

.number-of-items{
 display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
height:9rem
}

.selected-item{
 width:6rem;
}